absl-py==2.1.0
affine==2.4.0
aiohappyeyeballs==2.6.1
aiohttp==3.12.15
aiosignal==1.4.0
annotated-types==0.7.0
anyio==4.10.0
arrow==1.3.0
astropy==7.1.0
astropy-iers-data==0.2025.7.7.0.39.39
asttokens==3.0.0
attrs==23.2.0
binaryornot==0.4.4
blinker==1.8.2
bqplot==0.12.45
branca==0.8.1
cachetools==5.5.2
certifi==2024.7.4
cffi==1.16.0
chardet==5.2.0
charset-normalizer==3.3.2
click==8.1.7
click-plugins==1.1.1
cligj==0.7.2
colorama==0.4.6
colour==0.1.5
comm==0.2.2
contourpy==1.2.1
cookiecutter==2.6.0
cycler==0.12.1
cykhash==2.0.1
Cython==3.0.11
dash==3.2.0
dash-bootstrap-components==2.0.4
decorator==5.2.1
distro==1.9.0
earthengine-api==1.5.24
eerepr==0.1.2
et_xmlfile==2.0.0
executing==2.2.0
fastapi==0.116.1
fiona==1.10.1
Flask==3.0.3
flatbuffers==24.3.25
flet==0.28.3
flet-cli==0.28.3
flet-desktop==0.28.3
flet-web==0.28.3
folium==0.20.0
fonttools==4.53.0
frozenlist==1.7.0
future==1.0.0
geemap==0.35.3
geocoder==1.38.1
geopandas==0.14.4
google-api-core==2.25.1
google-api-python-client==2.176.0
google-auth==2.40.3
google-auth-httplib2==0.2.0
google-cloud-core==2.4.3
google-cloud-storage==3.2.0
google-crc32c==1.7.1
google-resumable-media==2.7.2
googleapis-common-protos==1.70.0
h11==0.16.0
httpcore==1.0.9
httplib2==0.22.0
httptools==0.6.4
httpx==0.28.1
idna==3.7
imageio==2.36.0
imageio-ffmpeg==0.6.0
importlib_metadata==8.7.0
ipyevents==2.0.2
ipyfilechooser==0.6.0
ipyleaflet==0.20.0
ipython==9.4.0
ipython_pygments_lexers==1.1.1
ipytree==0.2.2
ipywidgets==8.1.7
itsdangerous==2.2.0
jax==0.4.30
jaxlib==0.4.30
jedi==0.19.2
Jinja2==3.1.4
jiter==0.10.0
joblib==1.4.2
jupyter-leaflet==0.20.0
jupyterlab_widgets==3.0.15
kiwisolver==1.4.5
markdown-it-py==4.0.0
MarkupSafe==2.1.5
matplotlib==3.9.1
matplotlib-inline==0.1.7
mdurl==0.1.2
mediapipe==0.10.14
ml-dtypes==0.4.0
mpmath==1.3.0
multidict==6.6.4
narwhals==1.47.1
nest-asyncio==1.6.0
networkx==3.3
numpy==1.26.4
oauthlib==3.3.1
openai==1.107.2
opencv-contrib-python==4.10.0.84
opencv-python==4.10.0.84
OpenEXR==3.3.4
openpyxl==3.1.5
opt-einsum==3.3.0
osmnx==1.9.4
packaging==24.1
Panda3D==1.10.14
panda3d-gltf==1.2.0
panda3d-simplepbr==0.12.0
pandas==2.2.2
parso==0.8.4
pillow==10.4.0
plotly==6.2.0
prompt_toolkit==3.0.51
propcache==0.3.2
proto-plus==1.26.1
protobuf==4.25.3
psutil==7.0.0
pure_eval==0.2.3
pyasn1==0.6.1
pyasn1_modules==0.4.2
pycparser==2.22
pydantic==2.11.7
pydantic_core==2.33.2
pyerfa==2.0.1.5
pygame==2.6.0
Pygments==2.19.2
pyparsing==3.1.2
pyperclip==1.9.0
pypng==0.20220715.0
pyproj==3.7.0
pyrobuf==0.9.3
pyrosm==0.6.2
pyshp==2.3.1
python-box==7.3.2
python-dateutil==2.9.0.post0
python-dotenv==1.1.1
python-rapidjson==1.20
python-slugify==8.0.4
pytz==2024.1
PyYAML==6.0.2
qrcode==7.4.2
rasterio==1.4.3
ratelim==0.1.6
repath==0.9.0
reportlab==4.4.3
requests==2.32.3
retrying==1.4.2
rich==14.1.0
rsa==4.9.1
scikit-learn==1.5.2
scipy==1.14.0
scooby==0.10.1
screeninfo==0.8.1
setuptools==75.5.0
shapely==2.0.6
six==1.16.0
sniffio==1.3.1
sounddevice==0.4.7
stack-data==0.6.3
starlette==0.47.2
sympy==1.13.3
text-unidecode==1.3
threadpoolctl==3.5.0
toml==0.10.2
tqdm==4.67.1
traitlets==5.14.3
traittypes==0.2.1
types-python-dateutil==2.9.0.20250822
typing-inspection==0.4.1
typing_extensions==4.12.2
tzdata==2024.1
uritemplate==4.2.0
urllib3==2.2.2
ursina==7.0.0
uvicorn==0.35.0
watchdog==4.0.2
watchfiles==1.1.0
wcwidth==0.2.13
websockets==15.0.1
Werkzeug==3.0.3
widgetsnbextension==4.0.14
xyzservices==2025.4.0
yarl==1.20.1
zipp==3.23.0
